{% extends "base.html" %}

{% block title %}
Routes
{% endblock %}

{% block header %}
Routes
{% endblock %}

{% block body %}
<a href="/dashboard">Back to Dashbaord</a><br>

<h2>Create New Route</h2>
<form method="POST">
    <input hidden name="newRoute">
    <!-- Route name, description (also used to make root node) -->

    <label>Route Name:</label>
    <input name="newRouteName" required placeholder="Route name"><br>

    <label>Route Description:</label>
    <input name="newRouteDescription" placeholder="Description"><br>

    <button type="submit">Create Route</button>
</form>

<h3>Add Route Steps</h3>
<form method="POST">
    <input hidden name="newRouteNode">
    <!-- Name, content, type (root, text (with support for hyperlinks), task, habit, routine) -->
    
    <label>Select Route:</label>
    <select name="route_id">{% for route in routes %}<option value="{{route[0]}}">{{route[1]}}</option>{% endfor %}</select><br>

    <label>Step Name:</label>
    <input name="stepName" required placeholder="Step name"><br>

    <label>Step Type:</label>
    <select name="stepType" required>
        <option value="text">Text</option>
        <option value="task">Task</option> 
        <!--<option value="habit">Habit</option> update tasks first to add habits
        <!-- Routine is a "subclass" of habit, not implemented in tasks-->
    </select><br>

    <label>Step Content:</label>
    <textarea name="stepContent" placeholder="Step content"></textarea><br>

    <button type="submit">Add Step</button>
</form>


<br><hr><br>
<h2>Existing Routes</h2>

{% for route in routes %}
<h3>{{route[1]}}</h3>
<p>{{route[2]}}</p>

<form method="POST" style="display:inline">
    <input type="hidden" name="deleteRoute">
    <input type="hidden" name="route_id" value="{{route[0]}}">
    <button style="color:red">Delete Route</button>
</form>
<br>
<strong>Steps:</strong>
<ul>
    {% for node in get_all_route_nodes(route[0]) %}
        {% if node[3] != "root" %} 
        {# stops root node from rendering since it contains same information as the route name and description #}
        <li>
            <strong>{{ node[1] }}</strong>
            <small>{{ node[3] }}</small>
            <em>{{ node[2] }}</em>
            <form method="POST" style="display: inline;">
                <input type="hidden" name="deleteStep">
                <input type="hidden" name="step_id" value="{{ node[0] }}">
                <button style="color:red;">Delete Step</button>
            </form>
        </li>
        {% endif %}
    {% endfor %}
</ul>


<br><br><hr><br>
<p>
There are some special routes that are integrated with other features in The White Room:
</p>
<ul>
    <li>Mathmagician - Start from the foundations of maths and build up all the way to A-Level Maths and some easier Computer Science degree level maths</li>
    <li>Mindfulness - Slowly increase your meditation habits starting from <strong>just 1 minute a day</strong> up to 15 minutes, slowly</li>
    <li>Reach target weight - A route to reach your target weight, also shows a moving average of your calorie intake so if you have a high calorie day such as on special ocassions or a low calorie day such as for someone suffering from depression you can still be on your preferred path (increase or decrease or mainain weight)</li>
    <li>Linear Progression Weightlifting Routine - Starting Strength / Stronglifts style weightlifting workout for beginners (integrated with weightlifting)</li>
    <li>Couch to 5k - Integrated with runs and "sessions"/meditations so that you can add anyone as the TTS coach (such as fictional charachters) to motivate you or to be your running partner</li>
    <li>Bridge to 10k - Same as above</li>
</ul>

<p>
More route ideas I plan on adding to stimulate the creativity of The White Room users - to inspire them to use it to what they want to do
</p>
<ul>
    <li>Learn Japanese - copy a popular guide like learnjapanese.moe and implement TWR features or seperate programs to help like a kana trainer including drawing with stroke order and different fonts etc</li>
    <li>Get good at chess - How to get better at chess starting from 100 elo to 1000 or 1500 or something reasonable, i'm not sure what is considered reasonable. I guess I will figure it out when I try to make the route.</li>
    <li>Learn to play the piano - How to get from new to level 8 qualification (I think thats what it is the one that's good enough to put on your CV or personal statement for UCAS applications, and worth UCAS points too)</li>
    <li>Different reading lists and watch orders for other media - For example an ordered route starting from classical books or the correct watch order for My Little Pony including the movies and books and comic etc, same for The White Room. Also can be used to make a list of games to play in order to give a simple example Game title 1->2->3->4 but for real game series it might be harder to know what is the correct order to play certain games.</li>
</ul>

{% endfor %}

{% endblock %}