{% extends "base.html" %}
{% block title %}
Tasks
{% endblock %}


{% block body %}
<a href="/dashboard">Back to Dashboard</a>
<h2>All Tasks</h2>
<ul>
{% for task in all_tasks %}
<li>
{# Toggle form #}<form method="POST" style="display:inline;"><input type="hidden" name="completed_task_id" value="{{task[0]}}"><button type="submit">{{ "✅" if task[3] else "⬜" }}</button></form>
<p style="{{ 'text-decoration: line-through;display:inline;' if task[3] else 'display:inline;' }}" >{{task[1]}}{%if task[2]%} - Due {{task[2]}}{%endif%}{%if task[4]%} - {{task[4]}}{%endif%}</p>
{# Delete form #}<form method="POST" style="display:inline;"><input hidden name="delete_task_id" value="{{task[0]}}"><button type="submit">Delete task</button></form>
{# Edit form toggle #}<button type="button" onclick="this.nextElementSibling.style.display = (this.nextElementSibling.style.display === 'none') ? 'inline' : 'none'">Edit</button>
{# Edit form #}<form method="POST" style="display:none;"><input type="hidden" name="edited_task_id" value="{{task[0]}}"><input type="text" name="edited_name" value="{{task[1]}}" required><input type="date" name="edited_due_date" value="{{task[2]}}"><input type="text" name="edited_description" value="{{task[4]}}"><button type="submit">Save</button></form>
</li>
{% endfor %}
</ul>
{% if all_tasks == [] %}
No tasks
<br><br>
{% endif %}


<button type="button" onclick="this.nextElementSibling.style.display = (this.nextElementSibling.style.display === 'none') ? 'block' : 'none'">Add Task</button>
<form method="POST" style="display:none;">
    <input placeholder="Task name" name="new_task_name" required><br>
    <input placeholder="Due date (optional)" name="due_date" type="date" style="background-color: white; color: black;"><br>
    <textarea name="description" placeholder="Description (optional)"></textarea><br>
    <button type="submit">Add new task</button>
</form>


<!--
Events (Reminders are the same but are seperated into lists instead of on a calendar) 
Name
Location

iCloud Calendar repeater options:

Calendar: for example: Birthdays, Work Schedule, Personal Calendar etc
All-Day binary: if 1, don't need to check for time starts and time ends
(date and) Time starts
(date and) Time ends
Repeat {
    0 - never
    Every Day
    Every Week
    Every Month
    Every Year (same date every year)
    Custom: {
        Daily: Every n Day(s)
        Weekly: Every n Weeks on (these) days For example: Every Monday every 2 weeks 
        Every n month(s) each nth of the month (ex: Every other month on the 5th) OR Every n month(s) on the (1st/2nd/3rd/4th/last) (M/Tu/W/Th/F/Sa/Su)
    }
}
End of repeating: never, after n times, on date
Reminder 1: None, n minutes before, n hours before, n days before, at time of event
Reminder 2: same as above # note: can I make it have unlimited reminders and beat Apoole

other data for scheduled events:
Invitees: stores names and phone numbers, can be used to store xmpp and simplex and session too, I think it auto sends invites to any contacts you put in here
Attachments: files
URL
Notes


I'm pretty sure this is based on RRULEs
-->


{% endblock %}