{% extends "base.html" %}
{% block title %}
Tasks
{% endblock %}


{% block body %}
<a href="/dashboard">Back to Dashboard</a>
<h2>All Tasks</h2>
<ul>
{% for task in all_tasks %}
<li>
{# Toggle form #}<form method="POST" style="display:inline;"><input type="hidden" name="completed_task_id" value="{{task[0]}}"><button type="submit">{{ "✅" if task[3] else "⬜" }}</button></form>
<p style="{{ 'text-decoration: line-through;display:inline;' if task[3] else 'display:inline;' }}" >{{task[1]}}{%if task[2]%} - Due {{task[2]}}{%endif%}{%if task[4]%} - {{task[4]}}{%endif%}</p>
{# Delete form #}<form method="POST" style="display:inline;"><input hidden name="delete_task_id" value="{{task[0]}}"><button type="submit">Delete task</button></form>
{# Edit form toggle #}<button type="button" onclick="this.nextElementSibling.style.display = (this.nextElementSibling.style.display === 'none') ? 'inline' : 'none'">Edit</button>
{# Edit form #}<form method="POST" style="display:none;"><input type="hidden" name="edited_task_id" value="{{task[0]}}"><input type="text" name="edited_name" value="{{task[1]}}" required><input type="date" name="edited_due_date" value="{{task[2]}}"><input type="text" name="edited_description" value="{{task[4]}}"><button type="submit">Save</button></form>
</li>
{% endfor %}
</ul>
{% if all_tasks == [] %}
No tasks
<br><br>
{% endif %}


<button type="button" onclick="this.nextElementSibling.style.display = (this.nextElementSibling.style.display === 'none') ? 'block' : 'none'">Add Task</button>
<form method="POST" style="display:none;">
    <input placeholder="Task name" name="new_task_name" required><br>
    <input placeholder="Due date (optional)" name="due_date" type="date" style="background-color: white; color: black;"><br>
    <textarea name="description" placeholder="Description (optional)"></textarea><br>
    <button type="submit">Add new task</button>
</form>


<!--
Tasks Schema update to support habits (repeating tasks)
Name
Date and Time starts
Date and Time ends

RRULE column + frontend to generate the rrule (none if it is a task not a habit aka it doesn't repeat):
Repeat {
    Every Day: RRULE:FREQ=DAILY;
    Every Week: RRULE:FREQ=WEEKLY;
    Every Month: RRULE:FREQ=MONTHLY;
    Every Year (same date every year): RRULE:FREQ=YEARLY;
    Custom: {
        Daily: Every n Day(s): RRULE:FREQ=DAILY;INTERVAL=n;
        Weekly: Every n Weeks on (these) days For example: Every Monday every 2 weeks: RRULE:FREQ=WEEKLY;INTERVAL=2;BYDAY=MO,TH;
        Every n month(s) each nth of the month (ex: Every other month on the 5th: RRULE:FREQ=MONTHLY;INTERVAL=2;BYMONTHDAY=5; ) 
        OR Every n month(s) on the (1st/2nd/3rd/4th/last) (M/Tu/W/Th/F/Sa/Su): for example every 3 months on the 1st Monday: RRULE:FREQ=MONTHLY;INTERVAL=3;BYDAY=MO;BYSETPOS=1;
    }
}
End of repeating: never, after n times, on date {
never stops repeating: no changes
after n occurences: COUNT=10;
on date: UNTIL=20251231T000000Z;
}
Reminder 1: None, n minutes before, n hours before, n days before, at time of event
Reminder 2: same as above # note: can I make it have unlimited reminders?

other data for scheduled events:
Invitees: stores names and phone numbers, can be used to store xmpp and simplex and session too, I think it auto sends invites to any contacts you put in here
Attachment: a file
URL like a teams meeting link I guess
Location (support adding, "go shopping" with a certain store and it already knows how much money you will spend on groceries and what it is you should buy since it knows whats in your kitchen and what you ran out of and what you want to buy again and where you bought it and how much it costs)
-->


{% endblock %}